:root {
    --header-height: 5.5rem;
    --footer-height: 1.5rem;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
    --task-column-width: calc(100%/3);
    
    --dark-color: hsl(0, 0%, 9.4%);
    --grey: hsla(0, 0%, 9.4%, .75);
    --task-color: hsl(39, 61.3%, 92.5%);
    --task-color-low: hsla(39, 61.3%, 92.5%, .9);
    --task-color-lowlow: hsla(39, 61.3%, 92.5%, .7);
    --task-shadow: hsl(39, 61.3%, 62.5%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    min-height: 100%;
}

body {
    background-color: var(--dark-color);
    color: var(--task-color);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: 3 / span 8;
    height: var(--header-height);
    border-bottom: 4px ridge var(--task-color-low);
}

header h1 {
    font-size: 4rem;
    height: 100%;
}

main {
    grid-column: 3 / span 8;
    min-height: var(--main-height);
    display: flex;
    column-gap: 1rem;
}

footer {
    grid-column: 3 / span 8;
    height: var(--footer-height);
    font-weight: normal;
}

.btn:hover {
    cursor: pointer;
}

.task-column {
    color: var(--dark-color);
    width: var(--task-column-width);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.task-column-header {
    color: var(--task-color-low);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-column-title {
    font-weight: 600;
}

.btn-add-task {
    font-size: 3rem;
}

.task-item-inner {
    cursor: pointer;
    background-color: var(--task-color) !important;
    border-radius: 5px;
    padding: .5rem 2rem .5rem .5rem;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.task-item-inner:hover {
    box-shadow: -.25rem .5rem var(--task-shadow);
    transition: box-shadow 150ms ease 0s, transform 150ms ease 0s;
    transform: translate(.25rem, -.5rem);
}

.task-item-inner-content {
    overflow: hidden;
}

.task-item-title {
    font-weight: 600;
}

.task-item-description {
    color: var(--grey);
}

.task-item-icon {
    visibility: hidden;
}

.task-item-inner:hover .icon-hidden {
    visibility: visible;
}

.btn-delete {
    position: absolute;
    top: .5rem;
    right: .5rem;
    visibility: hidden;
}

.icon-drag-handle {
    cursor: grab;
    color: hsla(0, 0%, 9.4%, .5);
    font-size: 2rem;
}

.dropzone {
    height: 1.5rem;
    transition: height 200ms;
}

.dropzone-active {
    border-radius: 5px;
    height: 10rem;
}

.repository-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.repository-link:visited {
    color: var(--task-color);
}

.repository-link:hover {
    color: var(--task-color-lowlow);
}

.repository-link h4{
    font-weight: normal;
}

#modal {
    color: var(--dark-color);
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-inner {
    background-color: var(--task-color-low);
    border-radius: 5px;
    width: 30rem;
    max-height: 95vh;
    padding: 1rem;
    margin: 1rem;
}

#modal-content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

#modal-title, #modal-description {
    background-color: var(--task-low);
    padding: .5rem;
    resize: none;
    overflow-wrap: break-word;
    outline: none;
}

#modal-title {
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    border: none;
    border-bottom: 1px dashed var(--dark-color);
}

#modal-description {
    color: var(--grey);
    border-radius: 0 0 5px 5px;
    border: none;
}